/**   PARAMETERS USED 

white- #f6eaea
grey- #878787
main- #000000

****/

/**Header section***/
.section-header {
  height: 6.4rem;
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.top-bar {
  padding: 0 1.2rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #fcfbfc;
  font-size: 1.6rem;
}
.top-bar-right {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.menu-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.btn-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.whatsapp-icon {
  width: 1.8rem;
}

/**Hero section***/
.section-hero {
  height: 100vh;

  padding-top: 6.6rem;
}
.hero {
  margin-top: 4.2rem;
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.6rem;
  text-align: center;
}
.profile-pic {
  width: 9.8rem;
  height: 9.8rem;
  border-radius: 50%;
}
.intro-cnt {
  display: flex;
  gap: 0.2rem;
}
.dot-icon {
  width: 1rem;
}

.intro-name {
  font-size: 1rem;
  color: #fca0a0;
  font-weight: 500;
  letter-spacing: 1.4px;
  box-shadow: 0 2px 4px rgba(80, 77, 77 0.2);
}
.header-primary {
  font-size: 2.4rem;
  color: #ffffff;
}
.job-description-cnt {
  max-width: 30rem;
  text-align: center;
  font-size: 1.4rem;
}
.job-description {
  font-size: 1rem;
}
.cta:link,
.cta:visited {
  display: inline-block;
  text-decoration: none;
  color: #f6eaea;
  font-size: 0.8rem;
  border-bottom: solid 1px #fcfbfc;
}

.cta:hover,
.cta:active {
  border-color: #dbaaaa;
}

/**BRANDS section***/
.section-brands {
  margin-top: 9.6rem;
}
.brands {
  padding: 0 1.2rem;
}

.brands-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.brand-title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1.6px;
}
.header-secondary {
  text-align: center;
  color: #fcfbfc;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}
.coinskro-logo {
  width: 6.2rem;

  height: 5rem;
  fill: #fcfbfc;
  filter: grayscale(1);
  opacity: 0.2;
}

.hantec-logo {
  width: 9.6rem;
  margin-left: 1rem;
}
.cjc-logo {
  width: 4.2rem;
}

.brands-logos img {
  filter: grayscale(1);
  opacity: 0.6;
}

/**About section***/
.section-about {
  margin-top: 8rem;
}
.about-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-img {
  width: 24rem;
}
