/**   PARAMETERS USED 

white- #f6eaea
grey- #878787
main- #000000

****/

/**Header section***/
.section-header {
  height: 6.4rem;
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.logo {
  text-decoration: none;
}

.top-bar {
  padding: 0 1.2rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #fcfbfc;
  font-size: 1.6rem;
}
.top-bar-right {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.menu-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.btn-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.whatsapp-icon {
  width: 1.8rem;
}

/**Hero section***/

.section-hero {
  padding-top: 6.6rem;
  margin-bottom: 9.6rem;
}
.hero {
  margin-top: 4.2rem;
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.6rem;
  text-align: center;
}
.profile-pic {
  width: 9.8rem;
  height: 9.8rem;
  border-radius: 50%;
}
.intro-cnt {
  display: flex;
  gap: 0.2rem;
}
.dot-icon {
  width: 1rem;
}

.intro-name {
  font-size: 1rem;
  color: #fca0a0;
  font-weight: 500;
  letter-spacing: 1.4px;
  box-shadow: 0 2px 4px rgba(80, 77, 77 0.2);
}

.job-description-cnt {
  max-width: 40rem;
  text-align: center;
}
.job-description {
  font-size: 1.2rem;
  line-height: 1.6;
}
.cta:link,
.cta:visited {
  display: inline-block;
  text-decoration: none;
  color: #f6eaea;
  font-size: 1rem;
  border-bottom: solid 1px #fcfbfc;
}

.cta:hover,
.cta:active {
  border-color: #dbaaaa;
}

/**BRANDS section***/
.section-brands {
  margin-bottom: 9.6rem;
}
.brands {
  padding: 0 1.2rem;
}

.brands-logos {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.brand-title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1.6px;
}

.coinskro-logo {
  width: 2.4rem;

  fill: #fcfbfc;
  filter: grayscale(1);
  opacity: 0.2;
}

.hantec-logo {
  width: 9.6rem;
  height: auto;
}
.cjc-logo {
  width: 4.2rem;
  height: auto;
}

.brands-logos img {
  filter: grayscale(1);
  opacity: 0.6;
}

/**About section***/
.section-about {
  margin-bottom: 9.6rem;
}
.about-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: end;
  gap: 4rem;

  margin-top: 2.8rem;
}
.about-img-cnt {
  overflow: hidden;
  border-radius: 0.4rem;
}

.about-img {
  width: 100%;
  max-width: 30rem;
  height: auto;
  border-radius: 0.4rem;
  /* box-shadow: 0px 0px 10px rgba(256, 256, 256, 0.1); */

  transition: 0.5s;
}

.about-img:hover {
  transform: scale(120%);
}
.about-txt-cnt {
  max-width: 30rem;
}

.about-txt {
  font-size: 1.2rem;
  line-height: 1.8;
}

/**How section***/

.section-how {
  margin-bottom: 9.6rem;
}

.how {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
}

.how-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.how-description {
  font-size: 1.2rem;
  line-height: 1.8;
}

.how-icon-cnt {
  margin-bottom: 1.6rem;
}
.how-icon {
  height: 2.4rem;
  width: 2.4rem;
}

/******SECTION PORTFOLIO ****/

.section-portfolio {
  margin-bottom: 9.6rem;
}

.portfolio-cnt {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.portfolio-slider {
  max-width: 60rem;
  border: 0.2rem solid white;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);

  overflow: hidden;
}

.images-cnt {
  width: 100%;

  display: flex;
  animation: slide 12s infinite;
}

.portfolio-img {
  width: 100%;
}
